/Day1/.idea/*
/Day2/.idea/*
/Day3/.idea/*
/Day4/.idea/*
/Day5/.idea/*
/Day6/.idea/*

/Day1/cmake-build-debug/**
/Day2/cmake-build-debug/**
/Day3/cmake-build-debug/**
/Day3/cmake-build-release/**
/Day5/cmake-build-debug/**

/Day1/CMakeLists.txt
/Day2/CMakeLists.txt
/Day3/CMakeLists.txt
/Day5/CMakeLists.txt
